<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.app.mapper.Mapper">
	<select id="getTime" resultType="String">
		select sysdate from dual
	</select>
	<insert id="insertboard">
	INSERT INTO board (
	
		id,
		title,
		contents,
		name,
		passwd,
		islock,
		deleteflg,
		createdat,
		updatedat
		)
		
		values (
		
		BOARD_SEQ.NEXTVAL,
		#{title},
		#{contents},
		#{name},
		#{passwd},
		'0',
		'0',
		sysdate,
		sysdate
		)
	</insert>
	
	
	<select id="findAll" resultType="com.board.app.dto.BoardDto">
		SELECT * from board ORDER by id DESC
		
	</select>
	
	<select id="listboard" parameterType="int" resultType="com.board.app.dto.BoardDto">
		SELECT * from board where id =#{id}
	</select>
	
	<select id="getListWithPaging" resultType="com.board.app.dto.BoardDto">
		<![CDATA[
			select * from 
			(
				select rownum rn, id, title, contents, name, passwd, islock, deleteflg, createdat, updatedat
					from board where rownum <= 20
			)
				where rn > 10
			]]>
	</select>
	

	
	
	
</mapper>