<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.app.mapper.Mapper">
	<select id="getTime" resultType="String">
		select sysdate from dual
	</select>
	<insert id="insertboard">
	INSERT INTO board (
	
		id,
		title,
		contents,
		name,
		passwd,
		islock,
		createdat,
		updatedat
		)
		
		values (
		
		BOARD_SEQ.NEXTVAL,
		#{title},
		#{contents},
		#{name},
		#{passwd},
		#{islock},
		sysdate,
		sysdate
		)
	</insert>
	
	
	<select id="findAll" resultType="com.board.app.dto.BoardDto">
		SELECT * from board ORDER by id DESC
		
	</select>
	
	<select id="listboard" parameterType="int" resultType="com.board.app.dto.BoardDto">
		SELECT * from board where id =#{id}  ORDER by id desc
	</select>
	
	<sql id="criteria">
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
				<foreach item='type' collection="typeArr">
					<trim prefix="OR">
					<choose>
						<when test="type == 'T'.toString()">
							title like '%'||#{keyword}||'%'
						</when>

						<when test="type == 'N'.toString()">
							name like '%'||#{keyword}||'%'
						</when>
					</choose>
					</trim>
				</foreach>
			</trim>
			
	</sql>
	
	
	<select id="getListWithPaging" parameterType="com.board.app.dto.Criteria" resultType="com.board.app.dto.BoardDto">
			select * from 
			(select /*+INDEX_DESC(board)*/
				 rownum rn, id, title, contents, name, passwd, islock, deleteflg, createdat, updatedat from board 
					where 
		<include refid="criteria"></include>
				<![CDATA[	
					rownum <= #{pageNum} * #{amount}
			)
				where rn > (#{pageNum} - 1) * #{amount}
			]]> 
			order by id desc
	</select>
	
	<select id="getTotalCount" resultType="int">
		select count(*) from board 
		where
		
		<include refid="criteria"></include>
		
		 id > 0 
	</select>

	<select id="getReceipt" resultType="com.board.app.dto.BoardDto">

		select * from board where id = #{id} ORDER by id DESC
		
		</select>

<update id="updateReceipt">
	update board
	set title= #{title},
		contents=#{contents},
		name=#{name},
		passwd=#{passwd},
		updatedat=sysdate
		where id=#{id}
		
</update>
	
	<select id="getPasswd" resultType="com.board.app.dto.BoardDto">
		select * from board where id=#{id} and passwd=#{passwd} ORDER by id DESC
	</select>
</mapper>